@import url('header.css');
@import url('navigation.css');
@import url('gallery.css');
@import url('card.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    padding: 0;
    margin: 0;
}

section {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-color: #333;
    color: white;
}

.content-section {
    padding: 20px;
}

.fullscreen-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h2 {
    font-size: 36px;
    font-weight: bold;
}

.intro p {
    font-size: 24px;
    color: #ccc;
}

.fullscreen-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background 0.8s ease-in-out;
    color: transparent;
}

.fullscreen-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
    transition: background 0.8s ease-in-out;
    color: transparent;
}

.fullscreen-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Начальное затемнение */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.fullscreen-section:hover::before {
    opacity: 1;
}

.fullscreen-section:hover {
    color: white;
}

.fullscreen-section h1, .fullscreen-section h2, .fullscreen-section p {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease-in-out;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}






















