<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITCook Portfolio - Главная</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>ITCook Portfolio</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/business">Бизнес</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/login">Войти</a></li>
                <li><a href="/register">Зарегистрироваться</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <section class="fullscreen-section" id="section-link" style="background-image: url('/images/frame3.webp'); background-size: cover; background-position: center;">
            <h1>Почему стоит изучать IT поварам и работникам ресторанного дела?</h1>
            <p>В современном мире технологии играют ключевую роль практически во всех аспектах нашей жизни, включая гастрономию и ресторанный бизнес. Внедрение IT в ресторанное дело может значительно улучшить эффективность, качество обслуживания и общий успех бизнеса. Вот несколько причин, почему поварам и сотрудникам ресторанов стоит обратить внимание на IT:</p>
            <a href="/about" class="button">Подробнее</a>
        </section>
        
        
        
        
        <section class="fullscreen-section" style="background-image: url('/images/frame3.webp'); background-size: cover; background-position: center;">
            <h2>О нас</h2>
            <p>Описание о компании...</p>
        </section>
        <section class="fullscreen-section" style="background-image: url('/images/frame3.webp'); background-size: cover; background-position: center;">
            <h2>Бизнес</h2>
            <p>Информация о бизнесе...</p>
        </section>
        <section class="fullscreen-section" style="background-image: url('/images/frame3.webp'); background-size: cover; background-position: center;">
            <h2>Новости</h2>
            <p>Последние новости...</p>
        </section>
        <section class="fullscreen-section" style="background-image: url('/images/frame3.webp'); background-size: cover; background-position: center;">
            <h2>Контакты</h2>
            <p>Как с нами связаться...</p>
        </section>
        <section id="gallery" class="gallery"></section>
    </main>
    <script src="/dist/app.js"></script>
</body>
</html>


























